1 BITMAP "J_C.bmp"
14 BITMAP "E_D.bmp"
27 BITMAP "F_H.bmp"
40 BITMAP "F_S.bmp"
13 BITMAP "0_C.bmp"
25 BITMAP "F_D.bmp"
37 BITMAP "A_H.bmp"
49 BITMAP "L_S.bmp"
9 BITMAP "L_C.bmp"
21 BITMAP "T_D.bmp"
33 BITMAP "R_H.bmp"
45 BITMAP "A_S.bmp"
5 BITMAP "D_C.bmp"
17 BITMAP "E_D.bmp"
29 BITMAP "S_H.bmp"
